.venv
.venv_wsl
venv
uploads/
esp32_uploads/
data.json
__pycache__/
*.db

# Testing files for ethan
test.py*
test.html
test.py
cases.txt

# Database manager is a utility tool, not part of main app
tests/
docs/
GUIDANCE/
*.md
.env